<h1>Login Page</h1>

<form method="post">
    <input type="email" placeholder="Enter your Email" name="log_email" /><br /><br />
    <input type="password" placeholder="Enter your Password" name="log_password" /><br /><br />

    <input type="submit" value="Click to Login" />

</form>

<span style="color: red">@ViewBag.error</span>